<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Sklep</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body class="bg-light">
    <div class="container py-5">
        <h1 class="mb-4 text-center">Admin</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Cena</th>
                    <th>Stan</th>
                    <th>Co zrobić?</th>
                </tr>
            </thead>
            <tbody>
                {% for i in product %}
                <tr>
                    <td>{{ i.nazwa }}</td>
                    <td>{{ i.cena }} PLN</td>
                    <td>{{ i.ilosc }}</td>
                    <td>
                        <a href="{% url 'edit_item' item.id %}" class="btn btn-warning btn-sm">Edytuj</a>
                        <a href="{% url 'delete_item' item.id %}" class="btn btn-danger btn-sm">Usuń</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center">Nie znaleziono produktów</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        document.getElementById('select-all').addEventListener('change', function() {
            let checkboxes = document.querySelectorAll('input[name="selected_items"]');
            checkboxes.forEach(checkbox => checkbox.checked = this.checked);
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>